
.input-box {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 0 0 15px 0;
}

.input-box input {
  padding: 10px;
  font-size: 18px;
  outline: none;
  background: none;
  border:none;
  border-bottom: 2px solid rgba(0,0,0,0.5);
}

.mat-card-actions {
  margin: 0;
}

textarea {
  padding: 10px;
  font-size: 18px;
  min-height: 180px;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.5);
  border-left: 2px solid rgba(0,0,0,0.5);
  outline: none;
  resize: none;
}
