.stylized {
  background: #222;
}
.stylized h2 {
 color: #eae9e9;
}

.library {
  display: flex;
  justify-content: space-between;
}

.library aside,
.library div {
  margin: 20px 0;
}

.library-wrapper {
  display:flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}

@media all and (max-width: 768px) {
  .library {
    flex-direction: column;
  }
  .library aside {
    order: 1;
  }
  .library div {
    order: 2;
  }
}

